<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>top page</title>
    <style>
        h1 {
            font-size: 18px;
            font-weight: bold;
            color: gray;
        }
        body {
            font-size: 13pt;
            color: gray;
            margin: 5px 25px;
        }
        tr {
            margin: 5px;
        }
        th {
            padding: 5px;
            color: white;
            background: darkgray;
        }
        td {
            padding: 5px;
            color: black;
            background: #e0e0ff;
        }
    </style>
</head>
<body>
<h1 th:text="#{content.title}">Helo page</h1>
<p th:text="|expression[ ${check} ]|"></p>
<table th:inline="text">
    <tr>
        <th>NAME</th>
        <th>MAIL</th>
        <th>TEL</th>
    </tr>
    <tr th:each="obj : ${data}">
        <td>[[${obj.id}]]</td>
        <td>[[${obj.name}]]</td>
        <td>[[${obj.value}]]</td>
    </tr>
</table>
</body>
</html>