<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8">
    <title>top page</title>
    <style>
        h1 {
            font-size: 18px;
            font-weight: bold;
            color: gray;
        }
        body {
            font-size: 13pt;
            color: gray;
            margin: 5px 25px;
        }
    </style>
</head>
<body>
<h1>Helo page</h1>
<p class="msg">this is Thymeleaf sample page</p>
</body>
</html>